.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;

}


.LoginTitle {
  font-size: 80px;
  border-bottom: 1px solid lightgrey;
 padding: 20px;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.titleLink {
  text-decoration: none;
  color: black;
}

.LoginTitle img {
  padding: 20px;
}

.loginForm {
  /* border: 1px solid red; */
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
 
}

.loginForm button {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: grey;
  transition: .4s;
}

.loginForm button:hover {
  cursor: pointer;
  color: black;
  border: 1px solid black;
}

.loginForm input {
  background-color: white;
  padding: 10px;
  
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  font-size: 18px;
  transition: .4s;
}

.loginForm input:hover {
  color: black;
  border: 1px solid black;
}

.loginPage h2 {
  font-size: 38px;
}

.question {
  font-size: 24px;
  border-top: 1px solid lightgray;
  padding: 30px;
  width: fit-content;
  margin: 0 auto;
}

.loginSignUpLink {
  transition: .4s;
  font-size: 24px;
  color: #0071a5;
}

.loginSignUpLink:hover {
color: #0993d3;
}

.pageDesc {
  font-size: 80px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}


.nav {
  background-color: rgba(0, 0, 0, 0.842);
  display: flex;
  font-size: 18px;
  padding: 12px;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
 padding: 20px;
  transition: .4s;
}

.nav a:hover {
  color: #0084c2;
}



.homePage h1 {
  font-size: 40px;
}

.homePage header {
  display: flex;
  border-bottom: 1px solid lightgrey;
  width: fit-content;
  margin: 0 auto;
  align-items: center;

}

/* .nav {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: grey;
} */



.nav {
   font-size: 22px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sign-up-btn {
  margin-bottom: 10px;
  font-size: 16px;
  background-color: white;
  padding: 12px;
  padding-right: 80px; 
  padding-left: 80px; 
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: .4s;
}

.sign-up-btn:hover {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.log-in-btn {
  margin-bottom: 30px;
  font-size: 16px;
  background-color: white;
  padding: 12px;
  padding-right: 80px; 
  padding-left: 80px; 
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  transition: .4s;
}

.log-in-btn:hover {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.homePage header img {
  padding-right: 20px; 
}

.homepageContent {
  
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.homepageContent p {
  font-size: 28px;
  display: flex;
 
  width: 20%;
  
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.div1 {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  justify-content: center;

  
}

.div2 {
  display: flex;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  
}

.callToAction {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgrey;
  width: fit-content;
  margin: 0 auto;
}

.callToAction p {
  color: grey;
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 10px;
}

